Repository italia/eudi-wallet-it-python, pull requests merged in 2025-07, with the labels that each got.

#466 Reachable .well-know paths
  example/satosa/openid4vci_frontend.yaml
  pyeudiw/satosa/backends/openid4vp/openid4vp.py
  pyeudiw/trust/handler/federation.py
Labels: bug

#470 [dev] Execution of integration test: dependencies missing
  .gitignore
  integration_test/README.md
  integration_test/requirements_test.txt
  setup.py
Labels: documentation

#476 Optional wallet attestation
  docs/OPENID4VCI-SATOSA-FRONTEND.md
  integration_test/conf/openid4vci_frontend.yaml
  pyeudiw/satosa/frontends/openid4vci/endpoints/base_credential_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/pushed_authorization_request_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/token_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/vci_base_endpoint.py
  pyeudiw/satosa/utils/validation.py
  pyeudiw/tests/satosa/frontends/openid4vci/endpoints/test_pushed_authorization_request_endpoint.py
  pyeudiw/tests/satosa/frontends/openid4vci/endpoints/test_token_endpoint.py
  pyeudiw/tests/satosa/frontends/openid4vci/mock_openid4vci.py
  pyeudiw/tests/satosa/utils/test_validation.py
  setup.py
Labels: enhancement, feature, eudiw-interop

#484 Optional signed request
  integration_test/conf/openid4vci_frontend.yaml
  pyeudiw/jwt/jws_helper.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/pushed_authorization_request_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/vci_base_endpoint.py
Labels: enhancement, feature, eudiw-interop

#485 [Interoperability] Oauth2 par request
  pyeudiw/satosa/frontends/openid4vci/endpoints/authorization_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/base_credential_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/credential_offer_qrcode_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/nonce_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/pushed_authorization_request_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/endpoints/token_endpoint.py
  pyeudiw/satosa/frontends/openid4vci/models/par_request.py
  pyeudiw/satosa/frontends/openid4vci/openid4vci.py
  pyeudiw/satosa/frontends/openid4vci/storage/engine.py
  pyeudiw/satosa/frontends/openid4vci/storage/entity.py
  pyeudiw/satosa/frontends/openid4vci/storage/openid4vci_storage.py
  pyeudiw/tests/satosa/frontends/openid4vci/models/test_par_request.py
  pyeudiw/tools/date.py
Labels: feature, standardization, eudiw-interop
